$color1 :hsl(360, 0%, 94%);
$color2: rgb(236, 231, 231);
$color3: hsl(360, 0%, 99%);
$color4 :rgba(0,0,0,.8);
$color5: #081f30;

/* Parte 4 */
.container_we_care_img{
    display: grid;
    grid-template-columns: repeat(2, minmax(100px , 600px));
    grid-template-rows: 150px 1fr 150px ;
    column-gap: 150px;
    justify-content: center;
    justify-items: start;
    width: 100%;
    padding: 12% 5%;
    background-color: hsl(360, 4%, 85%);
}
.container_figure_panes{
    display: grid;
    grid-template-columns: minmax(350px , 550px);
    grid-column: 1 / 2 ;
    grid-row: 1 / 4;
    overflow: hidden;
}
.figure_panes{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container_nos_importa{
    display: grid;
    grid-template-columns: minmax(350px , 420px);
    grid-template-rows: 0.2fr 0.2fr 0.5fr;
    grid-column: 2 / 3 ;
    row-gap: 25px;
    grid-row: 2;
    line-height: 1.4;
}
.title_we_care{
    margin-bottom: 10px;
    font-size: 45px;
    font-weight: 700;
    color: $color4;
    font-family: 'Source Sans Pro', sans-serif;
}
.texto_1{
    font-size: 19px;
    font-family: 'Ibarra Real Nova', serif;
}
.texto_2{
    font-size: 19px;
    font-family: 'Ibarra Real Nova', serif;
}

@media screen and (max-width: 920px){
    .container_we_care_img{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 1fr  ;
        column-gap: 0px;
        row-gap: 30px;
    }
    .container_figure_panes{
        display: grid;
        grid-column: span 2;
        grid-row: 2 ;
        row-gap: 20px;
        justify-content: center;
        width: 100%;
    }
    .figure_panes{
        object-fit: contain;
    }
    .container_nos_importa{
        display: grid;
        grid-template-columns: 1fr;
        grid-row: 1;
        grid-column: 1 / span 2;
        
    }
}
@media screen and (max-width: 550px) {
    .title_we_care{
        font-size: 35px;
    }
}